{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home">
    <div class="home_slider_container">
        
        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">
            
            <!-- Slider Item -->
            <div class="owl-item">
                <!-- Background image artist https://unsplash.com/@benwhitephotography -->
                <div class="home_slider_background" style="background-image:url({% static 'images/slider-01.webp' %})"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content text-center">
                                    <div class="home_logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
                                    <div class="home_text">
                                        <div class="home_title">Get Free Past Questions Today!</div>
                                        <div class="home_subtitle">Are you looking for past question papar for your couse so u can study before your examination ? if yes, then you are at the right place.</div>
                                    </div>
                                    <div class="home_buttons">
                                        <div class="button home_button"><a href="{% url 'question' %}">past Questions<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                        <div class="button home_button"><a href="#">contact us<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <!-- Background image artist https://unsplash.com/@benwhitephotography -->
                <div class="home_slider_background" style="background-image:url({% static 'images/slider-01.webp' %})"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content text-center">
                                    <div class="home_logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
                                    <div class="home_text">
                                        <div class="home_title">Get Free Past Questions Today!</div>
                                        <div class="home_subtitle">Are you looking for past question papar for your couse so u can study before your examination ? if yes, then you are at the right place.</div>
                                    </div>
                                    <div class="home_buttons">
                                        <div class="button home_button"><a href="{% url 'question' %}">past Questions<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                        <div class="button home_button"><a href="#">contact us<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <!-- Background image artist https://unsplash.com/@benwhitephotography -->
                <div class="home_slider_background" style="background-image:url({% static 'images/slider-01.webp' %})"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content text-center">
                                    <div class="home_logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
                                    <div class="home_text">
                                        <div class="home_title">Get Free Past Questions Today!</div>
                                        <div class="home_subtitle">Are you looking for past question papar for your couse so u can study before your examination ? if yes, then you are at the right place.</div>
                                    </div>
                                    <div class="home_buttons">
                                        <div class="button home_button"><a href="{% url 'question' %}">past Questions<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                        <div class="button home_button"><a href="#">contact us<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    
{% endblock content %}
    